name: Oyun Listesi Robotu

on:
  schedule:
    - cron: '0 4 * * *' # Her sabah 07:00
  workflow_dispatch: # Manuel tetikleme

permissions:
  contents: write

jobs:
  update-games:
    runs-on: ubuntu-latest
    
    steps:
      - name: Depoyu ek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # Chrome Taray覺c覺y覺 Kuruyoruz
      - name: Chrome Setup
        uses: browser-actions/setup-chrome@v1

      - name: K羹t羹phaneleri Y羹kle
        run: |
          python -m pip install --upgrade pip
          pip install requests selenium webdriver-manager beautifulsoup4

      - name: Robotu al覺t覺r
        run: python update_bot.py

      - name: Kaydet ve G繹nder
        run: |
          git config --global user.name 'OyunFiyatBotu'
          git config --global user.email 'bot@noreply.github.com'
          git add subscriptions.json
          git diff --quiet && git diff --staged --quiet || (git commit -m " Selenium: Liste g羹ncellendi" && git push)
